@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
  color: #ffffff !important; /* Cambia el color de la flecha izquierda */
}

.swiper-button-next {
  color: #ffffff !important; /* Cambia el color de la flecha derecha */
}

.swiper-pagination-bullet {
  background-color: #ffffff !important; /* Cambia el color de fondo de las bolitas */
  width: 7px !important; /* Ancho de cada bolita */
  height: 7px !important; /* Alto de cada bolita */
  margin: 0 5px !important; /* Margen entre bolitas */
}
